<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RqSample</display-name>
    <servlet-name>RqSample</servlet-name>
    <servlet-class>RqSample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RqSample</servlet-name>
    <url-pattern>/RqSample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExeSample</display-name>
    <servlet-name>ExeSample</servlet-name>
    <servlet-class>ExeSample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExeSample</servlet-name>
    <url-pattern>/ExeSample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSample</display-name>
    <servlet-name>ShowSample</servlet-name>
    <servlet-class>ShowSample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample</servlet-name>
    <url-pattern>/ShowSample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSample2</display-name>
    <servlet-name>ShowSample2</servlet-name>
    <servlet-class>ShowSample2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample2</servlet-name>
    <url-pattern>/ShowSample2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveBytes</display-name>
    <servlet-name>ReceiveBytes</servlet-name>
    <servlet-class>ReceiveBytes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveBytes</servlet-name>
    <url-pattern>/ReceiveBytes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetData</display-name>
    <servlet-name>SetData</servlet-name>
    <servlet-class>SetData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetData</servlet-name>
    <url-pattern>/SetData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetData</display-name>
    <servlet-name>GetData</servlet-name>
    <servlet-class>GetData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetData</servlet-name>
    <url-pattern>/GetData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetInitp</display-name>
    <servlet-name>GetInitp</servlet-name>
    <servlet-class>GetInitp</servlet-class>
    <init-param>
      <param-name>5th Chapter pname</param-name>
      <param-value>5th Chapter pvalue</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInitp</servlet-name>
    <url-pattern>/GetInitp</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>trial adddtion</description>
    <param-name>token</param-name>
    <param-value>param-value</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>NextSession</display-name>
    <servlet-name>NextSession</servlet-name>
    <servlet-class>NextSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NextSession</servlet-name>
    <url-pattern>/NextSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrevSession</display-name>
    <servlet-name>PrevSession</servlet-name>
    <servlet-class>PrevSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrevSession</servlet-name>
    <url-pattern>/PrevSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Include1</display-name>
    <servlet-name>Include1</servlet-name>
    <servlet-class>Include1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Include1</servlet-name>
    <url-pattern>/Include1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Include2</display-name>
    <servlet-name>Include2</servlet-name>
    <servlet-class>Include2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Include2</servlet-name>
    <url-pattern>/Include2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Include3</display-name>
    <servlet-name>Include3</servlet-name>
    <servlet-class>Include3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Include3</servlet-name>
    <url-pattern>/Include3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLsnr</display-name>
    <servlet-name>CheckLsnr</servlet-name>
    <servlet-class>CheckLsnr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLsnr</servlet-name>
    <url-pattern>/CheckLsnr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAttr</display-name>
    <servlet-name>EditAttr</servlet-name>
    <servlet-class>EditAttr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAttr</servlet-name>
    <url-pattern>/EditAttr</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>CheckLsnr2</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>CheckLsnr2</display-name>
    <servlet-name>CheckLsnr2</servlet-name>
    <servlet-class>CheckLsnr2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLsnr2</servlet-name>
    <url-pattern>/CheckLsnr2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAttr2</display-name>
    <servlet-name>EditAttr2</servlet-name>
    <servlet-class>EditAttr2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAttr2</servlet-name>
    <url-pattern>/EditAttr2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExFilter</display-name>
    <servlet-name>ExFilter</servlet-name>
    <servlet-class>ExFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExFilter</servlet-name>
    <url-pattern>/ExFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExFilter2</display-name>
    <servlet-name>ExFilter2</servlet-name>
    <servlet-class>ExFilter2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExFilter2</servlet-name>
    <url-pattern>/ExFilter2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExFilter3</display-name>
    <servlet-name>ExFilter3</servlet-name>
    <servlet-class>ExFilter3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExFilter3</servlet-name>
    <url-pattern>/ExFilter3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpFile</display-name>
    <servlet-name>UpFile</servlet-name>
    <servlet-class>UpFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpFile</servlet-name>
    <url-pattern>/UpFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSample14</display-name>
    <servlet-name>ShowSample14</servlet-name>
    <servlet-class>ShowSample14</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample14</servlet-name>
    <url-pattern>/ShowSample14</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RqSample2</display-name>
    <servlet-name>RqSample2</servlet-name>
    <servlet-class>RqSample2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RqSample2</servlet-name>
    <url-pattern>/RqSample2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSample15</display-name>
    <servlet-name>ShowSample15</servlet-name>
    <servlet-class>ShowSample15</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample15</servlet-name>
    <url-pattern>/ShowSample15</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>ExFilter</filter-name>
    <filter-class>ExFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ExFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
   <servlet>
    <description></description>
    <display-name>UpFile2</display-name>
    <servlet-name>UpFile2</servlet-name>
    <servlet-class>UpFile2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpFile2</servlet-name>
    <url-pattern>/UpFile2</url-pattern>
  </servlet-mapping>
</web-app>